
<%  layout("/layouts/boilerPlate") %>
<body>
    <h2>All Listings</h2>
    <!-- <form method="get" action="/listings/new">
        <button>Create new List</button>
    </form> -->

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <% for (let list of listing) {%>
            
            <div class="my-card card col" >
                <a href="/listings/<%= list._id %>" class="listing-link">
                <img src="<%= list.image %>" class="card-img-top" alt="list_Image" style="height:20rem">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                  <b><h5 class="card-title"><%= list.title %></h5></b>
                  <p class="card-text">&#8377;<%= list.price.toLocaleString("en-IN") %> / day</p>
                  <a href="#" class="btn btn-primary">Explore</a>
                </div>
            </a>
              </div>
            
            <% } %>  
            </div>
    
</body>
